<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <nav>
        <a href="/travel"><img src="https://i.imgur.com/UPd2Pai.jpg" class="small_logo" alt="Travel Buddy Logo"></a>
        <a class="main_nav" href="/travel/bagels">Back to Bagel Shops</a><br>
        <a href="/travel/<%=bagels._id%>/edit"> Edit Shop</a>
    </nav>
    <title>Document</title>
</head>

<body>
    <center>
        <div class="container">
            <h2 class="show_name">
                <%=bagels.name%>
            </h2>
            <img class="show_img" src="<%=bagels.img%>" alt="">
            <p class="show_location"><strong>Location:</strong>
                <%=bagels.location%>
            </p>
            <p class="show_description"><strong> Description:</strong>
                <%=bagels.description%>
            </p>
        </div>
    </center>
</body>

</html>